@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css" />
<style>
    table.dataTable > thead > tr {
        text-align: center;
        background-color: #17a2b8;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: white;
    }

    table.dataTable > tbody > tr {
        background-color: white;
    }

    table.dataTable.table-hover > tbody > tr:hover > * {
        background-color: white;
    }
</style>
<div id="experienceApp">

    <div class="card card-info mt-3">
        <div class="card-header">
            <h3 class="card-title">Deneyim Ekle</h3>
        </div>

        <div class="card-body">
            <form v-on:submit.prevent="ExperienceEkle">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Başlangıç - Bitiş Tarihi</label>
                            <input type="text" class="form-control" v-model="experienceDate" id="exampleInputEmail1" placeholder="Tarih Aralığı Giriniz" maxlength="200" required>
                        </div>
                    </div>
                </div><!--educationDate-->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Şirket Adı</label>
                            <input type="text" class="form-control" v-model="experienceTitle" id="exampleInputEmail1" placeholder="Şirket Adını Giriniz" maxlength="200" required>
                        </div>
                    </div>
                </div><!--educationTitle-->
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Açıklama</label>
                            <textarea type="text" rows="4" max-rows="10" class="form-control" v-model="experienceText" id="exampleInputEmail1" placeholder="Şirket İle İlgili Açıklama Yazmak İsterseniz"></textarea>
                        </div>
                    </div>
                </div><!--educationText-->

                <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <input type="checkbox" v-model="mainPageVisibility" class="custom-control-input" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">Anasayfada Gözüksün</label>
                    </div>
                </div><!--MainPageVisibility-->

                <div>
                    <button type="submit" class="btn btn-primary float-right">Kaydet</button>
                </div>

            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover nowrap" cellspacing="0" style="position: relative; overflow: auto; width: 100%;" id="experienceTable">
        <thead>
            <tr>
                <th>❌</th>                                <!--0-->
                <th>✔</th>                                <!--1-->
                <th>Id</th>                                <!--2-->
                <th>Başlangıç Bitiş</th>                   <!--3-->
                <th>Şirket</th>                              <!--4-->
                <th>Açıklama</th>                          <!--4-->
                <th>👁</th>                               <!--5-->
            </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
<script src="~/PageEkstra/Experience.js"></script>

